<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="p-5 text-center bg-light">
            <h1> Reservation Form</h1>
            <form action="{{url_for('postReserve')}}" method="POST">
                <div class="form-group row">
                    <label for="DateNum" class="col-sm-6 col-form-label">Date</label>
                    <div class="col-sm-6">
                        <input type="date" readonly name='datesnum' value={{dateName}}>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="FistName" class="col-sm-6 col-form-label">First Name</label>
                    <div class="col-sm-6">
                        <input placeholder="First Name" name='fname'>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="FistName" class="col-sm-6 col-form-label">Last Name</label>
                    <div class="col-sm-6">
                        <input placeholder="Last name" name='lname'>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Email" class="col-sm-6 col-form-label">Email</label>
                    <div class="col-sm-6">
                        <input type="email" placeholder="name@example.com" name='email'>
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
        


    <div class="p-5 text-center bg-white">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>    FirstName  </th>
                    <th>    LastName   </th> 
                    <th>    Email   </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for reserve in reserveList %}
                    <th>{{reserve[2]}}</th>
                    <th>{{reserve[3]}}</th>
                    <th>{{reserve[4]}}</th>
                    {% endfor %}
                </tr>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    </body>
</html>